*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --bgColor: #F4FFFC;
  --primary: #57B894;
  --secondary: #FFCBBB;
  --secondary: #fabca9;
  --third: #DBFFF5;
  --third: #c7fced;
  --white: #fff;
  --transition-350: all 350ms ease-in-out;
  --transition-450: all 450ms ease-in-out;
}

html, body{
  background-color: var(--bgColor);
  width: 100%;
  min-height: 100vh;
}
/* utility classes */
.bg-secondary{
  background-color: var(--secondary);
}
.btn {
  font-size: 1rem;
  border-radius: 0.15rem;
  padding: 0.15rem 1.15rem;
  font-weight: 700;
  text-decoration: none;
}
.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}
.btn-primary {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-350);
}
.btn-secondary {
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
}
.btn-secondary:hover {
  border: 2px solid var(--secondary);
  color: var(--secondary);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-350);
}

.btn-primary-outline {
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
.btn-primary-outline:hover {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  transition: var(--transition-350);
}

.btn-secondary-outline {
  border: 2px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
}
.btn-secondary-outline:hover {
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  transition: var(--transition-350);
}

.btn-light-outline {
  border: 2px solid var(--white);
  background-color: transparent;
  color: var(--white);
}
.btn-light-outline:hover {
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--primary);
  cursor: pointer;
  transition: var(--transition-350);
}

.card {
  background-color: var(--bgColor);
  padding: 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.15rem;
}
.card:hover {
  transform: scale(1.01);
  transition: var(--transition-350);
}

.sub-heading {
  text-align: center;
  color: var(--primary);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary);
  margin-bottom: 1rem;
}


/* nav and hero section container  */
#home {
  z-index: 12345;
  width: 100%;
}
  /* top navigation */
  .top-nav {
    background-color: var(--bgColor);
    z-index: 10;
    position: fixed;
    z-index: 125323;
    padding: 1.5rem 0;
    display: flex;
    width: 100%;
    padding: 1.5rem 5%;
  }
    .top-nav h1 {
      font-size: 1.25rem;
      color: var(--secondary);
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
      margin-left: 2px;
    }
    .nav-right {
      margin-left: auto;
    }
      .nav-right a {
        margin-left: 2rem;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        text-decoration: none;
      }
      .nav-link {
        border: 2px solid transparent;
        color: var(--secondary);
      }
      .nav-link:hover {
        border-bottom: 2px solid var(--secondary);
        transition: var(--transition-350);
      }

/* login/register popup */
.login-outer, .register-outer {
  display: none;
  width: 100%;
  padding-top: 100px;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  z-index: 2134124234;
}
  .login-form, .register-form {
    width: 90%;
    margin: 0rem 5%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 0.15rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  }
    .login-form label, .register-form label {
      display: block;
      font-weight: 700;
      color: var(--white);
      margin: 0.5rem 0 0.25rem 0;
    }
    .login-form input, .register-form input {
      color: var(--primary);
      padding: 0.25rem;
      font-size: 1rem;
      width: 100%;
      border-radius: 0.15rem;
      outline: none;
      border: 2px solid var(--third);
      background-color: var(--third);
      box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      margin-bottom: 0.15rem;
    }
    .login-form input:focus, .register-form input:focus{
      outline: none;
      border: 2px solid var(--secondary);
    }
    .login-form button, .register-form button {
      font-size: 1.15rem;
      font-weight: 700;
      margin-top: 1rem;
    }

    #close-login:hover, #close-register:hover {
      transition: var(--transition-450);
      transform: rotate(180deg);
      cursor: pointer;
    }


/* hero content */

#hero-content {
  width: 100%;
  display: flex;
  padding: 0 5%;
}
  /* hero content left */
  .hero-left {
    width: 50%;
  }
    .hero-left h1 {
      width: 23rem;
      color: var(--primary);
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-bottom: 1.5rem;
    }
    .hero-left p {
      width: 23rem;
      color: var(--secondary);
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      line-height: 2rem;
    }

  .hero-right {
    width: 50%;
    padding-left: 2.5%;
    align-self: center;
  }
    .hero-right img {
      width: 100%;
      height: 100%;
    }

/* about content */
#about {
  position: relative;
  background-color: var(--third);
}
  #about-inner{
    height: fit-content;
    width: 100%;
    display: flex;
  }
  .about-left {
    width: 40%;
    margin-right: 10%;
  }
    .about-left img {
      width: 80%;
      margin-left: 20%;
      height: 100%;
      position: relative;
      z-index: 10;
    }

  .about-right {
    margin-top: 2.5%;
    width: 40%;
    margin-left: 10%;
    padding-right: 5%;
  }
    .about-right h2 {
      color: var(--primary);
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    .about-right p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--secondary);
      margin-bottom: 1.75rem;
    }
  

/* contact content  */
#contact {
  width: 100%;
  padding: 15% 5%;
}
  #contact-inner {
    width: 100%;
    display: flex;
  }
  .contact-left {
    width: 40%;
    margin-right: 10%;
  }
    .contact-left form {
      width: 100%;
      border-radius: 0.15rem;
      padding: 1rem;
      background-color: var(--secondary);
      box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    }
      .contact-left form h3 {
        font-size: 2rem;
        text-align: center;
        color: var(--bgColor);
      }
      .contact-left form label {
        font-weight: 700;
        margin-bottom: 0.5rem;
        display: block;
        margin-top: 1rem;
      }
      .contact-left form input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        outline: none;
        border: 2px solid var(--white);
        border-radius: 0.15rem;
      }
      .contact-left form textarea {
        resize: none;
        border: 2px solid var(--white);
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.15rem;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
      }
      .contact-left form textarea:focus, .contact-left form input:focus {
        border: 2px solid var(--primary);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      }
      .contact-left form button {
        font-size: 1rem;
      }
  .contact-right {
    width: 40%;
    margin-left: 10%;
  }
    .contact-right img {
      width: 100%;
      height: 100%;
    }

  #contact-bottom {
    width: 100%;
    background-color: var(--secondary);
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
  }
    #contact-bottom a {
      display: inline-block;
    }
    #contact-bottom a:hover {
      transform: scale(1.02);
      cursor: pointer;
      transition: var(--transition-350);
    }





/* dashboard */
.nav-right-dash{
  margin-left: auto;
}

#dashboard {
  width: 100%;
  padding: 116px 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

  /* account balance card */
  .account-balance{
    text-align: center;
    color: var(--primary);
    background-color: var(--third);
    padding: 1rem;
    border-radius: 0.15rem;
  }
    .account-balance h3 {
      margin-bottom: 1rem;
    }
    .balance {
      text-align: center;
      color: var(--primary);
      border-radius: 0.15rem;
      background-color: var(--white);
      font-size: 1.15rem;
      border: 2px solid var(--primary);
      padding: 0.5rem 0;
      margin-bottom: 1rem;
    }


    /* search card */
    .search {
      padding: 1rem 2rem;
    }
      .search label {
        display: block;
        color: var(--primary);
        margin: 1rem 0;
        font-size: 1.15rem;
      }

      .search input {
        border: none;
        outline: none;
        padding: 0.5rem;
        width: 100%;
        margin: 0 0 1.5rem 0;
        background-color: var(--white);
        border-radius: 0.15rem;
        color: #000;
        border: 2px solid var(--primary);
      }

      .search input:focus {
        border: 2px solid var(--secondary);
        color: #000;
      }
  /* latest trade card */
  .latest-trade {
    padding: 1rem;
    background-color: var(--bgColor);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  }
    .latest-trade h2 {
      text-align: center;
      color: var(--primary);
      padding-bottom: 0.5rem;
      border-bottom: 2px solid var(--primary);
      margin-bottom: 1rem;
    }
    
    .latest-trade h3 {
      margin: 1rem 0;
      text-align: center;
      color: var(--primary);
    }
  /* stock card */
  .stock {
    margin: 1rem 0;
    display: flex;
    padding: 1rem; 
    border-bottom: 1px dotted var(--secondary);
  }
    .stock p:first-child {
      width: 50%;
    }
    .stock p:last-child {
      width: 50%;
      text-align: right;
    }

/* add balance card */
.add-balance {
  align-self: flex-start;
}
  .add-balance form {
    padding: 2rem 1rem;
    background-color: #f8d2c5;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
    .add-balance form label{
      color: var(--primary);
      font-size: 1.25rem;
      text-align: center;
      display: block;
    }
    .add-balance form input{
      border: none;
      outline: none;
      padding: 0.5rem;
      width: 100%;
      margin: 1.5rem 0;
      background-color: var(--white);
      border-radius: 0.15rem;
      color: #000;
      border: 2px solid var(--primary);
    }
  /* all trades card */
  .all-trades {
    align-self: flex-start;
  }  
  /* news card */
  .news-content {
    margin: 0 auto;
    width: 350px;
    padding-bottom: 1rem;
    background-color: var(--third);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.15rem;
  }
    .news h4 {
      text-align: center;
      max-width: 325px;
      color: var(--primary);
      margin: 1rem auto;
    }
    .news img {
      max-width: 350px;
      display: block;
      margin: 0 auto 1rem auto;
    }
    .news .btn {
      max-width: 325px;
      margin: 0 auto;
    }
  
/* btn classes for toggler */
  .btn-container {
    max-width: 325px;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
  }
  #prev {
    width: 47.5%;
    margin-right: 2.5%;
  }
  #next {
    width: 47.5%;
    margin-left: 2.5%;
  }


@media screen and (min-width:450px){
  .login-form, .register-form {
    width: 400px;
    margin: 0rem auto;
  }
}

@media screen and (min-width: 200px) and (max-width: 700px){
  #hero-content, #about-inner {
    padding-top: calc(10% + 84px);
    padding-bottom: 15%;
    flex-direction: column;
  }
  .nav-right, #hero-content .btn-m, #info-m, #about-p, #about-inner .btn-m{
    display: none !important;
  }
  /* hero content */
  #hero-content .hero-mobile{
    display: block;
    width: 100%;
  }
    .hero-mobile p {
      color: var(--secondary);
      text-align: center;
      margin: 2rem 0;
      font-size: 1.15rem;
    }
    #hero-content .hero-left h1 {
      text-align: center;
      font-size: 2.5rem;
      width: 100%;
    }
    #hero-content .hero-left p {
      text-align: center;
      width: 100%;
      font-size: 1rem;
    }
    .hero-left, .about-right{
      padding: 0;
      width: 100%;
      margin: 1rem auto;
    }
    .hero-right, #about-inner .about-left{
      padding: 0;
      margin-right: 0rem;
      margin: 0 auto;
      width: 65%;
    }
  /* about mobile */
  #about-inner {
    padding: 15% 5%;
    flex-direction: column-reverse;
  }
    #about-inner .about-left img{
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }
      .about-right h2 {
        font-size: 2rem;
        text-align: center;
      }
      .about-mobile p {
        font-size: 1.15rem;
        text-align: center;
        color: var(--secondary);
        margin: 2rem 0;
        line-height: 1.75rem;
      }
  /* utitliy mobile */
  #hero-content .btn-primary, #hero-content .btn-secondary, .about-mobile .btn-primary {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }
  #hamburger {
    margin-left: auto;
  }
  #hamburger:hover {
    transform: rotate(180deg);
    cursor: pointer;
    transition: var(--transition-450);
  }
  #nav-mobile {
    width: 90%;
    margin: 100px 5% 0 5%;
    background-color: var(--primary);
    position: fixed;
    z-index: 1342343;
    padding: 1rem;
    border-radius: 0.15rem;
    display: none;
  }
    #nav-mobile a {
      display: block;
      text-decoration: none;
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }

  /* contact content */
  .contact-right {
    display: none;
  }
  .contact-left {
    margin: 0;
    width: 100%;
  }
    .contact-left textarea{
      height: 10rem;
    }
}
@media screen and (min-width:701px){
  .hero-mobile, .about-mobile, #hamburger, #nav-mobile {
    display: none;
  }
}
@media screen and (min-width:701px) and (max-width: 1050px){
  #hero-content, #about-inner {
    height: fit-content;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .hero-left h1 {
    font-size: 2.5rem;
    width: 20rem;
  }
  .hero-left p {
    font-size: 1rem;
    width: 20rem;
  }
  .about-right h2 {
    font-size: 2rem;
  }
  .about-right p {
    font-size: 1rem;
    line-height: 2rem;
  }
  /* contact content  */
  .contact-right {
    display: none;
  }
  .contact-left {
    margin: 0;
    width: 100%;
  }
    .contact-left textarea{
      height: 10rem;
    }
}

@media screen and (min-width: 1051px){
  .hero-left h1 {
    font-size: 4rem;
    width: 30rem;
    line-height: 5rem;
  }
  .hero-left p {
    width: 25rem;
  }
  #home {
    padding: 0 10%;
  }
  #dashboard {
    padding: 116px 10%;
  }
  .top-nav {
    padding: 1.5rem 10%;
  }
  .about-right {
    padding-right: 10%;
  }
    .about-right h2 {
      font-size: 2rem;
    }
    .about-right p {
      font-size: 1.15rem;
    }
  #hero-content, #about-inner {
    padding: 15% 0;
  }
  #hero-content {
    padding-top: calc(15% + 84px);
  }
  .about-left .bg-img {
    background-color: var(--secondary);
    width: 60%;
    height: 50%;
    z-index: 1;
    position: relative;
    border-bottom-right-radius: 25%;
  }
  /* contact content */
  .contact-left label, .contact-left input, .contact-left textarea {
    font-size: 1rem;
  }
  .contact-left textarea{
    height: 10rem;
  }
  
}
@media screen and (max-width:1549px){
  .about-left .bg-img {
    bottom: 55%;
  }
}

@media screen and (min-width: 1550px){
  .hero-left h1 {
    font-size: 4.75rem;
    width: 35rem;
    line-height: 6rem;
  }
  .hero-left p {
    width: 30rem;
    font-size: 1.5rem;
  }
  .btn-xl {
    font-size: 1.25rem;
  }
  .contact-left button {
    font-size: 1.25rem;
    padding: 0.5rem 0;
  }
  .top-nav a {
    font-size: 1.25rem;
  }
  .about-left .bg-img {
    width: 60%;
    height: 60%;
    border-bottom-right-radius: 25%;
    bottom: 35%;
  }
  .about-right h2 {
    font-size: 2.75rem;
  }
  .about-right p {
    font-size: 1.5rem;
  }
}


@media screen and (min-width:1900px) {
  .hero-left h1 {
    font-size: 6rem;
    width: 45rem;
    line-height: 7rem;
  }
  .hero-left p {
    width: 45rem;
    font-size: 1.75rem;
    line-height: 3rem;
  }
  .about-right h2 {
    font-size: 3.25rem;
  }
  .contact-left label, .contact-left input, .contact-left textarea {
    font-size: 1.15rem;
  }
  .contact-left textarea{
    height: 15rem;
  }
}

@media screen and (min-width:2100px) {
  #home{
    padding: 0 15%;
  }
  #dashboard {
    padding: 116px 15%;
  }
  .top-nav {
    padding: 1.5rem 15%;
  }
  .about-right {
    padding-right: 15%;
  }

  .hero-left h1 {
    font-size: 6.75rem;
    width: 45rem;
    line-height: 7rem;
  }
  .hero-left p {
    width: 45rem;
    font-size: 1.75rem;
    line-height: 3rem;
  }
  .hero-left p {
    width: 30rem;
    font-size: 1.75rem;
  }
  .btn-xl {
    font-size: 1.5rem;
  }
  .top-nav a {
    font-size: 1.5rem;
  }
  #hero-content, #about-inner {
    padding: 17.5% 0;
  }
  #hero-content {
    padding-top: calc(17.5% + 84px);
  }
}