<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <input type="hidden" value="{{ results }}" id="results">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      
      <a class="btn btn-primary" href="#">Logout</a>
      
    </nav>

  </nav>

  <main id="dashboard">


    <article class="card profile">

      <!-- <h2>John Smith</h2> -->
      <h2 class="sub-heading">@johnsmith</h2>
      
      <div class="account-balance">
        <h3>Account Balance:</h3>
        <p class="balance">$1300.00</p>
      </div>

    </article>

    <article class="card search">
      
      <form action="/search">
      {% csrf_token %}
        <h2 class="sub-heading">Make a trade</h2>

        <label for="symbol">Symbol</label>
        <input type="text" name="symbol">

        <button class="btn btn-block btn-xl btn-primary">Search</button>

      </form>


    </article>

    <article class="card latest-trade">
      <h2 class="sub-heading">Latest Trade</h2>
      <h3>AAPL</h3>
      <p class="balance">$340.23</p>
      <button class="btn btn-block btn-xl btn-primary">View</button>
    </article>


    <article class="card add-balance">
      <h3 class="sub-heading">Add Balance</h3>
      <form action="/add_balance" method="post">
        {% csrf_token %}
        <label for="amount">Amount</label>
        <input type="text" name="amount">
        <button type="submit" class="btn-primary btn-xl btn-block">Add</button>
      </form>
    </article>

    <article class="card news">
      <h3 class="sub-heading">News</h3>
      <div class="news-content" id="0">
        <img class='news-img' src="{{first.image}}" alt="{{first.source}}">
        <h4 id="headline">{{ first.headline }}</h4>
        <a class="btn btn-secondary news-link btn-block btn-xl" href="{{first.url}}">Visit <span class="source" >{{first.source}}</span></a>
        <div class="btn-container">
          <button class="btn btn-xl btn-secondary" id="prev">Prev</button>
          <button class="btn btn-xl btn-secondary" id="next">Next</button>
        </div>
      </div>
    </article>


    <article class="card all-trades">
      <h3 class="sub-heading">All Trades</h3>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

    </article>



  </main>
  
  <script src="{% static 'js/news.js' %}"></script>
</body>
</html>