<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      
      <a class="btn btn-primary" href="#">Logout</a>
      
    </nav>

  </nav>

  <main id="dashboard">


    <article class="card profile">

      <!-- <h2>John Smith</h2> -->
      <h2 class="sub-heading">@johnsmith</h2>
      
      <div class="account-balance">
        <h3>Account Balance:</h3>
        <p class="balance">$1300.00</p>
      </div>

    </article>

    <article class="card search">
      
      <form action="/search">
      {% csrf_token %}
        <h2 class="sub-heading">Make a trade</h2>

        <label for="symbol">Symbol</label>
        <input type="text" name="symbol">

        <button class="btn btn-block btn-xl btn-primary">Search</button>

      </form>


    </article>

    <article class="card latest-trade">
      <h2 class="sub-heading">Latest Trade</h2>
      <h3>AAPL</h3>
      <p class="balance">$340.23</p>
      <button class="btn btn-block btn-xl btn-primary">View</button>
    </article>

    <article class="card all-trades">
      <h3 class="sub-heading">All Trades</h3>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

      <div class="stock">

        <p>AAPL</p>
        <p>$123.23</p>

      </div>

    </article>


  </main>
  
</body>
</html>