<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <input type="hidden" value="{{ results }}" id="results">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      <a class="btn nav-link" href="/trades">Trades</a>
      <a class="btn btn-primary" href="/logout">Logout</a>
      
    </nav>

  </nav>


  <nav class="bottom-nav">
    <a href="/trades" class="bottom-nav-link">Trades</a>
    <a href="/logout" class="bottom-nav-link">Logout</a>
  </nav>

  <main id="dashboard" class="container">


    <article class="card profile">

      <!-- <h2>John Smith</h2> -->
      <h2 class="sub-heading">@johnsmith</h2>
      
      <div class="account-balance">
        <h3>Account Balance:</h3>
        <p class="balance">${{ balance }}</p>
      </div>

    </article>

    <article class="card search">
      
      <form action="/search" method="POST">
      {% csrf_token %}
        <h2 class="sub-heading">Make a trade</h2>

        <label for="symbol">Symbol</label>
        <input type="text" name="symbol" onkeyup="this.value = this.value.toUpperCase();">

        <button class="btn btn-block btn-xl btn-primary">Search</button>

      </form>


    </article>

    <article class="card latest-trade">
      <h2 class="sub-heading">Latest Trade</h2>
      {% if latest_trade == False %}
      <h3 class="start-trading">Start Trading!</h3>
      {% else %}
      <h3>{{ latest_trade.symbol }}</h3>
      {% load humanize %}
      <p class="balance">PPS: ${{ latest_trade.price_per_share|floatformat:2|intcomma }}</p>
      <a href='/trades' class="btn btn-block btn-xl btn-primary">View</a>
      {% endif %}
    </article>


    <article class="card add-balance">
      <h3 class="sub-heading">Add Balance</h3>
      <form action="/add_balance" method="post">
        {% csrf_token %}
        <label for="amount" >Amount</label>
        <input type="number" name="amount" step="0.01">
        <button type="submit" class="btn-primary btn btn-xl btn-block">Add</button>
      </form>
    </article>

    <article class="card news">
      <h3 class="sub-heading">News</h3>
      <div class="news-content" id="0">
        <img class='news-img' src="{{first.image}}" alt="{{first.source}}">
        <h4 id="headline">{{ first.headline }}</h4>
        <a class="btn btn-secondary news-link btn-block btn-xl visit" href="{{first.url}}">Visit <span class="source" >{{first.source}}</span></a>
        <div class="btn-container">
          <button class="btn btn-xl btn-secondary" id="prev">Prev</button>
          <button class="btn btn-xl btn-secondary" id="next">Next</button>
        </div>
      </div>
    </article>


    <article class="card all-trades">
      <h3 class="sub-heading">All Trades</h3>
      {% if trades == False %}
      <h3 class="start-trading">Start Trading!</h3>
      {% else %}
        {% for t in trades %}
        <div class="stock">
          <p>{{ t.symbol }}</p>
          {% load humanize %}
          <p>${{ t.price_per_share|floatformat:2|intcomma }}</p>
        </div>
        
        {% endfor %}
      {% endif %}

    </article>



  </main>
  
  <script src="{% static 'js/news.js' %}"></script>
</body>
</html>