<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right">
      
      <a class="nav-link" href="#about">About</a>
      <a class="nav-link" href="#contact">Contact</a>
      <a class="login btn btn-primary" href="#">Login</a>
      <a class="register btn btn-primary-outline" href="#">Register</a>
      
    </nav>

    <img src="../static/images/hamburger.svg" alt="Hamburger Icon" id="hamburger">
    
  </nav>

  <nav id="nav-mobile">

    <a class="btn btn-secondary btn-block mobile-link" href="#about">About</a>
    <a class="btn btn-secondary btn-block mobile-link" href="#contact">Contact</a>
    <a class="login btn btn-block btn-secondary login" href="#">Login</a>
    <a class="register btn btn-block btn-light-outline register" href="#">Register</a>

  </nav>

  {% if messages %}
  <div class="messages messages-error">
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <p class="error">{{ message }}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- log & reg popup -->

  <!-- login form popup -->
  <main class="login-outer">

    <form action="/login" class="login-form" method="POST">

      <img id="close-login" src="../static/images/close-white.svg" alt="Close Icon">
      {% csrf_token %}

      <label for="username">Username</label>
      <input type="text" name="username">
      
      <label for="password">Password</label>
      <input type="password" name="password">
      
      <button class="btn btn-block btn-secondary" type="submit">Login</button>
      
      
    </form>
  </main>

  <!-- register form popup -->

  <main class="register-outer">

    <form action="/register" class="register-form" method="POST">

      <img id="close-register" src="../static/images/close-white.svg" alt="Close Icon">
      
      {% csrf_token %}

      <label for="first_name">First Name</label>
      <input type="text" name="first_name">

      <label for="first_name">Last Name</label>
      <input type="text" name="last_name">

      <label for="username">Username</label>
      <input type="text" name="username">
      
      <label for="password">Password</label>
      <input type="password" name="password">
      
      <label for="conf_password">Confirm Password</label>
      <input type="password" name="conf_password">
      
      <button class="btn btn-block btn-secondary" type="submit">Register</button>
      
      
    </form>
    
  </main>


  
  <main id="home">
  <!-- hero content -->
  <section id="hero-content">

      <article class="hero-left">

        <h1>Trading made simple</h1>
        <p id="info-m">Simulate trades in real time without spending a dime</p>
        <a href="#" class="btn btn-m btn-xl register btn-primary">Start Trading</a>
        <a href="#" class="btn btn-m btn-xl login btn-secondary">Login</a>

      </article>

      <article class="hero-right">

        <img src="../static/images/hero.svg" alt="Hero Image">

      </article>

      <article class="hero-mobile">

        <p>Simulate trades in real time without spending a dime</p>
        <a href="#" class="btn btn-primary register">Start Trading</a>
        <a href="#" class="btn btn-secondary login">Login</a>

      </article>


    </section>

  </main>

  <main id="about">
    
    <section id="about-inner">

      <article class="about-mobile">

        <p>Buy, sell and trade stock as prices are moving up and down. Track your progress, prices, and save your data. All Trades are simulated and completely free to use!</p>
        
        <a href="#" class="btn btn-primary register">Start Trading</a>

      </article>

      <article class="about-left">
  
        <img src="../static/images/computer.svg" alt="Computer Image">
        <div class="bg-img"></div>
  
      </article>
      
      <article class="about-right">
        
        <h2>Make trades in real time</h2>
        
        <p id="about-p">Buy, sell and trade stock as prices are moving up and down. Track your progress, prices, and save your data. All Trades are simulated and completely free to use!</p>
        
        <a href="#" class="btn btn-xl btn-m btn-primary register">Start Trading</a>
        
      </article>

      
    </section>
      
  
  </main>


  <main id="contact">

    <section id="contact-inner">

      <article class="contact-left">
        <form action="/contact">
        {% csrf_token %}
          
          <h3>Contact</h3>

          <label for="name">Full Name</label>
          <input type="text" name="name">
        
          <label for="email">Email</label>
          <input type="email" name="email">

          <label for="message">Message</label>
          <textarea name="message"></textarea>

          <button class="btn btn-block btn-xl btn-primary">Send</button>
        

      </form>


      </article>
      

      <article class="contact-right">

        <img src="../static//images/contact.svg" alt="Contact Image">

      </article>

    </section>

    
  </main>

  <section id="contact-bottom">
    
    <a href="https://github.com/connorskorburg/My-Trade">
      <img src="../static/images/github-icon.svg" alt="Github Icon">
    </a>
    
    <a href="https://linkedin.com/in/connor-skorburg">
      <img src="../static/images/linkedin-icon.svg" alt="Linkedin Icon">
    </a>

  </section>

<script src="{% static 'js/toggler.js' %}"></script>
</body>
</html>