<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      <a href="/dashboard" class="btn nav-link">Dashboard</a>
      <a class="btn btn-primary" href="#">Logout</a>
      
    </nav>
    
  </nav>

  <nav class="bottom-nav">
    <a href="/dashboard" class="bottom-nav-link">Dashboard</a>
    <a href="/logout" class="bottom-nav-link">Logout</a>
  </nav>
  

  <input type="hidden" value="{{ results }}" id="results">
  <input type="hidden" value="{{ current }}" id="current">
  <input type="hidden" value="{{ symbol }}" id="symbol">
  <input type="hidden" value="{{ balance }}" id="total-balance">
  
  <main id="search-results" class="container">
    
    {% if current != "0.00" %}
    <table class="trade-table table">
      <thead>
        <th>Symbol</th>
        <th>Price Per Price</th>
        <th># of Shares</th>
        <th>Purchase</th>
      </thead>
      <tbody>
        <td>{{ symbol }}</td>
        <td>${{ current }}</td>
        <td>
          <input id="shares" type="number" value="1"  min="1" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        </td>
        <td>
          <button onclick=buyTrade() class="btn-sm btn-secondary">Total</button>
        </td>
      </tbody>
    </table>
    
    <section id="total-section">
      <table class="total-table table">
        <thead>
          <th>Symbol</th>
          <th>Total Price</th>
          <th># of Shares</th>
          <th>Account Balance</th>
        </thead>
        <tbody>
          <td>{{ symbol }}</td>
          <td><span>$</span><span id="total-price"></span></td>
          <td id="total-shares">1</td>
          <td><span>$</span><span>{{ balance }}</span></td>
        </tbody>
      </table>
      <div class="btn-table-container">
        <form action="/buyTrade" method="POST">
          {% csrf_token %}
          <input type="hidden" name="symbol" value="{{ symbol }}">
          <input type="hidden" name="shares" id="hidden-shares">
          <input type="hidden" name="price" id="hidden-price" value="{{ current }}">
          <input type="hidden" name="total" id="hidden-total">
          <button id="buy-btn" class="btn btn-xl btn-primary">Confirm Purchase</button>
        </form>
      </div>
    </section>
    {% elif current == "0.00" %}
    <div class="not-found">
      <h3>Stock Not Found, Go back to dash</h3>
      <a href="/dashboard" class="btn btn-block btn-primary">Dashboard</a>
    </div>
    {% endif %}


  </main>

  <script src="{% static 'js/stockToggler.js' %}"></script>
</body>
</html>