<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      <a href="/dashboard" class="btn nav-link">Dashboard</a>
      <a class="btn btn-primary" href="#">Logout</a>
      
    </nav>
    
  </nav>

  <nav class="bottom-nav">
    <a href="/dashboard" class="bottom-nav-link">Dashboard</a>
    <a href="/logout" class="bottom-nav-link">Logout</a>
  </nav>
  

  <input type="hidden" value="{{ current }}" id="current-sell">
  <input type="hidden" value="{{ symbol }}" id="symbol-sell">
  
  <main class="container">
    
    <div class="table-container">

    <table class="trade-table table">
      <thead>
        <th>Symbol</th>
        <th>Price Per Price</th>
        <th># of Shares</th>
        <th>Purchase</th>
      </thead>
      <tbody>
        <td>{{ symbol }}</td>
        <td>${{ current }}</td>
        <td>
          <input id="sell-shares" type="number" value="1"  min="1" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        </td>
        <td>
          <button onclick=sellTrade() class="btn-sm btn-secondary">Total</button>
        </td>
      </tbody>
    </table>
    
    <section id="sell-section">
      <table class="table total-table">
        <thead>
          <th>Symbol</th>
          <th>Total Price</th>
          <th># of Shares</th>
          <th>Amount Gained</th>
        </thead>
        <tbody>
          <td>{{ symbol }}</td>
          <td><span>$</span><span id="total-gained"></span></td>
          <td id="total-sell-shares">1</td>
          <td><span>$</span><span id="total-balance">1300.00</span></td>
        </tbody>
      </table>
      <div class="btn-table-container">
        <button class="btn btn-xl btn-primary">Sell Trade</button>
      </div>
    </section>


  </main>

  <script src="{% static 'js/stockToggler.js' %}"></script>
</body>
</html>