<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      <a href="/trades" class="btn nav-link">Trades</a>
      <a class="btn btn-primary" href="/logout">Logout</a>
      
    </nav>
    
  </nav>

  <nav class="bottom-nav">
    <a href="/dashboard" class="bottom-nav-link">Dashboard</a>
    <a href="/logout" class="bottom-nav-link">Logout</a>
  </nav>
  

  <input type="hidden" value="{{ trade.price_per_share }}" id="current-sell">
  <input type="hidden" value="{{ trade.shares }}" id="bought-shares">
  
  <main class="container">
    
    <div class="table-container">

    <table class="trade-table table">
      <thead>
        <th>Symbol</th>
        <th>Price Per Price</th>
        <th># of Shares</th>
        <th>Purchase</th>
      </thead>
      <tbody>
        <td>{{ trade.symbol }}</td>
        {% load humanize %}
        <td>${{ current|floatformat:2|intcomma }}</td>
        <td>
          <input id="sell-shares" type="number" value="{{ trade.shares }}"  min="1" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        </td>
        <td>
          <button onclick=sellTrade() class="btn-sm btn-secondary">Total</button>
        </td>
      </tbody>
    </table>
    
    <section id="sell-section">
      <table class="table total-table">
        <thead>
          <th>Symbol</th>
          <th>Total Gained</th>
          <th># of Shares</th>
          <th>Account Balance</th>
        </thead>
        <tbody>
          <td>{{ trade.symbol }}</td>
          <td><span>$</span><span id="total-gained"></span></td>
          <td id="total-sell-shares">1</td>
          {% load humanize %}
          <td><span>$</span><span id="total-balance">{{ user.account_balance|floatformat:2|intcomma }}</span></td>
        </tbody>
      </table>
      <div class="btn-table-container">
        <form action="/sellTrade" method="POST">
          {% csrf_token %}
          <input type="hidden" name="symbol" value="{{ trade.symbol }}">
          <input type="hidden" name="trade_id" value="{{ trade.id }}">
          <input type="hidden" name="price_sold" id="price_sold">
          <input type="hidden" name="shares_sold" id="shares_sold">
          <input type="hidden" name="total_price_gained" id="total_price_gained">
          <button id="sell-btn" class="btn btn-xl btn-primary">Sell Trade</button>
        </form>
      </div>
    </section>


  </main>

  <script src="{% static 'js/stockToggler.js' %}"></script>
</body>
</html>