<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrade</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
  <!-- nav and hero content container -->
  <!-- top navigation -->
  <nav class="top-nav">
    <!-- nav logo -->
    <nav class="nav-left">
      
      <img src="../static/images/logo.svg" alt="Logo">
      <h1>MyTrade</h1>
      
    </nav>
    
    <!-- navigation links -->
    <nav class="nav-right-dash">
      
      <a href="/dashboard" class="btn nav-link">Dashboard</a>
      <a class="btn btn-primary" href="/logout">Logout</a>
      
    </nav>
    
  </nav>

  {% if messages %}
  <div class="messages messages-error">
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <p class="error">{{ message }}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <nav class="bottom-nav">
    <a href="/dashboard" class="bottom-nav-link">Dashboard</a>
    <a href="/logout" class="bottom-nav-link">Logout</a>
  </nav>

  <main class="container" id="trades">
    <section id="trades-flex">

      <article class="card profile">
        
        <!-- <h2>John Smith</h2> -->
        <h2 class="sub-heading">@johnsmith</h2>
        
        <div class="account-balance">
          <h3>Account Balance:</h3>
          <p class="balance">${{ balance }}</p>
        </div>
        
      </article>

      <article class="card add-balance">
        <h3 class="sub-heading">Add Balance</h3>
        <form action="/add_balance" method="post">
          {% csrf_token %}
          <label for="amount">Amount</label>
          <input type="number" name="amount">
          <button type="submit" class="btn-primary btn-xl btn-block">Add</button>
        </form>
      </article>

      
    </section>

    <section class="purchased-trades">
      <article>
        
        {% if trades == False%}
        <h2 class="start-trading">Start Trading!</h2>
        {% else %}
        <table class="table" id="purchased-table">
          <h2 class="trade-heading">Last 10 Purchased</h2>
          <thead>
            <th>Symbol</th>
            <th>Price Per Share</th>
            <th># of Shares</th>
            <th>Total</th>
            <th>Sell</th>
          </thead>
          <tbody>
            {% for t in trades %}
              <tr>
                <td>{{ t.symbol }}</td>
                {% load humanize %}
                <td>${{ t.price_per_share|floatformat:2|intcomma }}</td>
                <td>{{ t.shares }}</td>
                <td>${{ t.total_price|floatformat:2|intcomma }}</td>
                <td><a class="btn-sm btn-primary btn-xl" href="/sell/{{ t.id }}">Sell</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

      </article>

      <article class="sold-trades">

        {% if sold_trades != False%}
        
        <table class="table" id="sold-table">
          <h2 class="trade-heading">Last 10 Sold</h2>
          <thead>
            <th>Symbol</th>
            <th>Price Sold</th>
            <th># of Shares</th>
            <th>Balance Added</th>
          </thead>
          <tbody>
            {% for s in sold_trades %}
            <tr>
              <td>{{ s.symbol }}</td>
              <td>{{ s.price_sold }}</td>
              <td>{{ s.shares_sold }}</td>
              <td>{{ s.total_price_gained }}</td>
            </tr>
            {% endfor %}
            <!-- <tr>
              <td>AAPL</td>
              <td>$115.23</td>
              <td>2</td>
              <td>$230.46</td>
            </tr>
            <tr>
              <td>AAPL</td>
              <td>$115.23</td>
              <td>2</td>
              <td>$230.46</td>
            </tr>
            <tr>
              <td>AAPL</td>
              <td>$115.23</td>
              <td>2</td>
              <td>$230.46</td>
            </tr> -->
          </tbody>
        </table>

        {% endif %}

      </article>   
  
    </section>

    
  </main>

  <main id="form-pop-outer">
    
  </main>

  </body>
  </html>